body {
  background-color: #e9e6d4;
  margin: 0px !important;
  font-family: 'sofia-pro', sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1.3;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 40px;
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  color: #000;
  text-transform: uppercase;
  width: 160px;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'sofia-pro', sans-serif;
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0474bc;
}

#active-nav {
  background-color: #c92a2a;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid white;
}

#links a {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}

#links a:hover {
  color: #e9e6d4bc;
  background-color: darkred;
}

#links a:active {
  color: rgb(253, 255, 111);
}

#talak {
  font-size: 20px;
}

div.galeria {
  margin: 5px;
  border: 1px solid rgba(224, 224, 224, 0.815);
  float: left;
  width: 24%;
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

div.galeria:hover {
  border: 1px solid rgba(119, 119, 119, 0.856);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

div.galeria img {
  width: 100%;
}

#kepek {
  margin: auto;
  width: 100%;
  padding: 3px;
}

.cimek{
  color: rgb(202, 80, 80);
  text-shadow: 1px 1px 5px grey;
  letter-spacing: 3px;
}
.arak{
  text-align: right;
  font-weight: bold;
  font-size: 17px;
  float: right;
  padding-left: 30px;
}

.mertek{
  text-align: right;
  font-size: 17px;
  text-decoration: underline;
  float: right;
  padding-left: 30px;
}

.main {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
}

mark{
  background-color: rgb(208, 255, 0);
}


.dropbtn {
  color: black;
  font-size: 16px;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #e9e6d4bc;
  background-color: darkred;
  border-radius: 5px;
}

#login {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 450px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(decorative-border_1048-11718.jpg) 30 round;
  margin-bottom: 300px;
  margin-top: 170px;
}

.login-table {
  margin: auto;
}

.submit-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

#global-footer {
  padding-top: 75px;
  padding-bottom: 65px;
  color: black;
  background-color: white;
  position: relative;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  left: 0px;
  bottom: 0px;
  font-size: 14px;
}

.legal {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  opacity: .55;
}

.details {
  text-align: left;
  float: left;
}

.links {
  float: right;
}

.col { 
  position: relative;
}

.footer-table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px;
}

.footer-table ul {
  list-style-type:none;
}

.details{
  outline: #a1321f solid 10px;
  padding:20px 200px 20px 20px;
  border: 2px solid black;
}
