body {
  background-color: #e9e6d4;
  margin: 0px !important;
  font-family: 'sofia-pro', sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1.3;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 40px;
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

.logo {
  display: grid;
  justify-content: start;
  align-content: center;
  color: #000;
  text-transform: uppercase;
  width: 160px;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'sofia-pro', sans-serif;
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0474bc;
}

.active-nav {
  background-color: #c92a2a;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid white;
}

#links a {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}

#links a:hover {
  color: #e9e6d4bc;
  background-color: darkred;
}

#links a:active {
  color: rgb(253, 255, 111);
}

#talak {
  font-size: 20px;
}

div.galeria {
  margin: 5px;
  border: 1px solid rgba(224, 224, 224, 0.815);
  float: left;
  width: 24%;
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

div.galeria:hover {
  border: 1px solid rgba(119, 119, 119, 0.856);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

div.galeria img {
  width: 100%;
}

#kepek {
  margin: auto;
  width: 100%;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

div.galeria-etelek {
  margin-bottom: 30px;
  margin-top: 30px;
  float: left;
  width: 30%;
}

div.galeria-etelek img[src] {
  border: 1px solid rgba(224, 224, 224, 0.815);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

div.galeria-etelek img[src]:hover {
  border: 1px solid rgba(119, 119, 119, 0.856);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

img.Image{
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.cimek{
  color: rgb(202, 80, 80);
  text-shadow: 1px 1px 5px grey;
  letter-spacing: 3px;
}

.arak {
  text-align: right;
  font-weight: bold;
  font-size: 17px;
  float: right;
  padding-left: 30px;
}

.mertek {
  text-align: right;
  font-size: 17px;
  float: right;
  padding-left: 30px;
}

.main {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
}

mark {
  background-color: orange;
  font-style: italic;
}

.dropbtn {
  color: black;
  font-size: 16px;
  background-color: white;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #e9e6d4bc;
  background-color: darkred;
  border-radius: 5px;
}

#login {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 450px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../img/galeria/decorative-border_1048-11718.jpg) 30 round;
  margin-bottom: 200px;
  margin-top: 170px;
}

.center-table {
  margin: auto;
}

.reg-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

#login input[type].reg-btn:hover {
  cursor: pointer;
}

#global-footer {
  padding-top: 75px;
  padding-bottom: 65px;
  color: black;
  background-color: white;
  position: relative;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  left: 0px;
  bottom: 0px;
  font-size: 14px;
}

.legal {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  opacity: .55;
}

.details {
  text-align: left;
  float: left;
  border: 1px solid rgb(209, 209, 209);
  padding: 20px 20px 20px 20px;
  opacity: .55;
  border-radius: 5px;
  outline:rgb(233, 230, 212) solid 1px;
}

.links {
  float: right;
  opacity: .55;
  border: 1px solid rgb(209, 209, 209);
  padding: 20px 20px 20px 20px;
  opacity: .55;
  border-radius: 5px;
  outline:rgb(233, 230, 212) solid 1px;
}

.links a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
 background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  opacity: .7;
}

.links a:hover {
  background-position: 0 100%;
}

.col { 
  position: relative;
}

.footer-table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px;
}

.footer-table ul {
  list-style-type:none;
}

.iframe-kakaseu {
  width: 400px;
  height: 650px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: static;
  border-image: url(../img/galeria/decorative-border_1048-11718.jpg) 30 round;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

@media print {  
  h1 { font-size: 70pt; color: darkred; } 
  footer {page-break-after: always;} 
}

#etterem-png {
  max-width: 100%;
}

.main-rolunk {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
  font-size: 120%;
  line-height: 150%;
  padding-bottom: 2em;
}

.main-rolunk h1 {
  text-align: center;
}

#rolunk-table a[href]:hover {
  background-position: 0 100%;
}

#rolunk-table a[href] {
  border-radius:5px;
  cursor: pointer;
  margin: 2px 2px;
  width: 130px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  overflow: hidden;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0) 50%, rgb(53, 53, 53) 50%); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  opacity: .7;
}

#rolunk-table {
  text-align: center;
  margin: auto;
}

.main-index {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
  font-size: 120%;
  line-height: 150%;
  padding-bottom: 2em;
}

.main-index h1 {
  text-align: center;
}

.multicolumn {
  margin: auto;
  text-align: center !important;
}

.multi-newspaper {
  column-count: 2;
  padding: 15px;
  column-gap: 40px;
  column-rule: 1px solid lightgrey;
  text-align: center;
}

.white-space {
  white-space: pre;
  text-align: center;
}

#lista {
  margin:auto;
  text-align: center;
  list-style-type: none;
}

.rolunk-fooldal {
  text-shadow: 1px 1px 5px grey;
}

#fixed-img {
  position: fixed;
  float: left;
  cursor: pointer;
  width: 100px;
  z-index: 10;
}

#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 11;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}

#bejelentkezes {
  font-size: 26px;
  font-weight: bold;
}

#registration {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 450px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 10px solid transparent;
  padding: 15px;
  margin-bottom: 200px;
  margin-top: 170px;
}

#regisztracio {
  font-size: 26px;
  font-weight: bold;
}

.disp-table {
  display:table;
}