body {
    margin: 0;
    background-color: #e9ebee;
  }
  
  #navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: #fcfcfc;
    grid-gap: 1.5em;
    padding: 0 40px;
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  }
  
  #logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    width: 40%;
  }
  
  .logo span {
    color: #0474bc;
  }
  
  #links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #0474bc;
  }
  
  #active-nav {
      background-color: #a0a0a0;
      color: white;

  }
  #links a {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
  }

  #links a:hover {
    color: darkred;
  }

  #links a:active {
    color: darkgreen;
  }